name: CI

on:
  push:
    branches:
    - main
  pull_request:
  schedule:
    - cron: '0 2 * * 6' # saturday 2am
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
    - uses: actions/checkout@v6
    - uses: jdx/mise-action@v3

    - name: Setup git config
      run: |
        git config user.name actions-bot
        git config user.email actions-bot@users.noreply.github.com

    - name: Create Pull Request if there is new stuff from updaters
      uses: peter-evans/create-pull-request@v7
      id: pr_create
      with:
        commit-message: Updater script changes
        branch: updater-bot
        delete-branch: true
        title: "Updater: stuff changed"
        body: |
          Changes caused from update scripts

    - name: Stop if a pull request was created
      env:
        PR_NUMBER: ${{ steps.pr_create.outputs.pull-request-number }}
      run: |
        if [[ ! -z "$PR_NUMBER" ]]; then
          echo "The update scripts changed something and a PR was created. Skipping build." >> $GITHUB_STEP_SUMMARY
          exit 1
        fi

    - name: Build binaries
      run: |
        mkdir -p build
        GOOS=windows GOARCH=amd64 go build -o build/untls-windows-amd64.exe .
        go build -o build/untls-linux-amd64 .
        echo "✅ Build successful" >> $GITHUB_STEP_SUMMARY

    - name: Validate Docker build
      run: |
        docker build -t untls:test .
        echo "✅ Docker build successful" >> $GITHUB_STEP_SUMMARY
